.git
.gitignore
.gitlab-ci.yml

.env
.env.*
*.env

__pycache__/
*.py[cod]
.pytest_cache/
.ruff_cache/
.coverage
coverage.xml
htmlcov/

tests/
docs/

.venv/
venv/

*.log
*.sqlite
*.sqlite3
*.db

README*